/*Responsividade - formatação adequada para o tamanho da tela*/
@media (min-width: 450px) {

    :root {
        /*typograpfy*/
        --fs-3: 4rem;
    }
    /*cta*/
    .cta {
        --fs-4: 4.1rem;
    }
}

@media (min-width: 580px) {

    :root {
        /*typograpfy*/
        --fs-2: 5.5rem;
    }

    /*event*/
    .event-card {
        display: flex;
        align-items: flex-start;
        gap: 30px;
    }

    .event-card .card-subtitle {
        margin-block-start: 0;
    }
    .event-card .card-title {
        font-size: var(--fs-5);
        line-height: 1.4;
    }

    /*insta*/
    .insta-post-item { 
        min-width: 45%;
    }
}
    
@media (min-width: 768px) {

    /*features, services*/
    .features-list, .service-list {
        grid-template-columns: 1fr 1fr;
    }

    /*about*/
    .banner-row {
        display: flex;
        gap: 20px;
    }

    .deco-title {
        top: 10%;
        left: calc(100% + 40px);
    }

    .about-img {
        margin-block-end: 0;
    }

    .about-img:first-child {
        margin-block-end: 30px;
    }

    /*testimonials*/

    .testi-card {
        display: flex;
        align-items: flex-start;
        gap: 30px;
    }

    .testi-text {
        margin-block-start: 0;
    }

    /*insta*/
    .insta-post-item { 
        min-width: 32%;
    }

    /*footer*/
    .footer .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        padding-inline: 40px;
    }

    .footer-list, .copyright {
        margin-inline: 0;
    }

    .footer-list {
        margin-block-end: 0;
    }

}

@media (min-width: 992px) {
    
    :root {
        /*typography*/
        --fs-2: 7.5rem;
    }
    
    /*header*/

    .header { 
        transition: var(--transition-2);
    }

    .header-action {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    .search-btn {
        color: var(--blue);
        font-size: 2.6rem;
    }

    .search-btn ion-icon {
        --ionicon--stroke-width: 50px;
    }

    /*hero*/
    .hero {
        background-image: url("../Image/home.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        min-height: 780px;
    }

    /*features*/
    .features {
        padding-block-start: var(--section-padding);
    }

    .features-list {
        grid-template-columns: repeat(4, 1fr);
    }

    /*about*/

    .banner-col { 
        width: 50%;
    }

    
    .about-img-3 {
        max-width: 90%;
    }


    .about-img-4 {
        max-width: 90%;
        margin-inline-start: 0%;
    }
    
    .about .container {
        display: grid;
        grid-template-columns: 1fr 0.8fr;
        align-items: flex-start;
        gap: 120px;
    }

    .about-banner {
        margin-block-end: 0;
    }

    /*cta*/
    .cta .container {
        display: grid;
        grid-template-columns: 1fr 0.7fr;
        gap: 30px;
    }

    .cta-content {
        margin-block-end: 0;
    }

    .cta .section-title {
        -ffs-4: 5rem;
    }
    /*service*/
    .service-list {
        grid-template-columns: repeat(4, 1fr);
    }
    /*testi*/
    .testi {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .testi-content { 
        padding-inline: 30px 50px;
    }

    /*event*/
    .event-card .wrapper {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
    }

    .event-card .card-text {
        margin-block-end: 0;
    }

    /*instagram*/

    .insta-post-item { 
        min-width: 24%;
    }
}

@media (min-width: 1200px) {

    :root {
        /*typografy*/
        --fs-2: 4.4rem;
    }

    /*reused*/
    .container {
        max-width: 1400px;
        width: 100%;
        margin-inline: auto;
        padding-inline: 30px;
    }

    .section-title {
        line-height: 1.2;
    }

    /*header*/
    .nav-open-btn, .nav-close-btn, .navbar > .logo, .navbar-link > ion-icon {
        display: none;
    }

    .header {
        padding-block: 25px;
    }

    .lang-switch {
        position: relative;
        display: block;
        background-color: transparent;
        border: none;
        color: var(--white);
        font: inherit;
        font-size: var(--fs-8);
        font-weight: var(--fw-600);
    }

    .lang-switch option { color: var(--eerie-black-1);
    }

    .navbar {
        all: unset;
        margin-inline: auto;
    }

    .navbar-list {
        all: unset;
        display: flex;
        gap: 10px;
    }

    .navbar-link {
        font-size: var(--fs-8);
        font-weight: var(--fw-600);
        text-transform: capitalize;
        transition: var(--transition-2);
    }

    .navbar-link:is(:hover, :focus) {
        background: none;
    }

    .navbar-list:hover .navbar-link:not(:hover) { 
        color: var(--white-60); 
    }
    
    /*hero*/
    .hero {
        padding-block: 200px 325px;
        background-position: center;
    }

    /*features*/
    .features {
        padding-block-start: 0;
        margin-block-start: -185px;
        background-color: transparent;
    }

    /*about*/
    .deco-img { 
        left: -35px;
    }

    /*partner*/
    .partner .container {
        justify-content: space-evenly;
    }

    /*insta*/
    .insta-post-item {
        min-width: 20%;
    }

    /*footer*/
    .footer .container {
        margin-inline: 30px;
        width: auto;
    }








}
