@import url(./variables.css);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a, img, span, time, input, strong, button, ion-icon { 
    display: block; 
}

img { 
    height: auto;
}

ion-icon {
    pointer-events: none;
}

input, button {
    background: none;
    border: none;
    font: inherit;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}

:focus-visible {
    outline-offset: 4px;
}

::selection {
    background-color: var(--white_10);
}

html {
    font-family: var(--ff-roboto);
    color: var(--granite-gray);
    font-size: 10px;
    scroll-behavior: smooth;
    background-color: var(--white-60);
}

body {
    background-color: var(---white);
    font-size: 1.6rem;
    line-height: 1.8;
    overflow-x: hidden;

}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue);
}


/*reused style*/
.container {
    padding-inline: 15px ;
}

.section-subtitle {
    color: var(--color, var(--blue));
    font-size: var(--fs, var(--fs-8));
    font-family: var(--ff, var(--ff-roboto));
    font-weight: var(-fw-600);
    display: flex;
    align-items: center;
    gap: 10px;
}
.h1, .h2 {
    font-weight: var(--fw-300);
}

.h2, .h3 {
    line-height: 1.6;
}

.h2 {
    font-size: var(--fs-3);
    color: var(--eerie-black-2);
}

.h3 {
    font-size: var(--fs-5);
    color: var(--eerie-black-2)
}

.h4 {
    color: var(--white);
    font-size: var(--fs-6);
}

.btn {
    position: relative;
    background-color: var(--btn-bg, var(--blue));
    color: var(--white);
    font-weight: var(--fw-600);
    padding: 12px 32px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: var(--transition-2);
}

.btn ion-icon {
    --ionicon-stroke-width: 55px;
    font-size: 1.8rem;
}

.btn:not(.btn-outline)::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid var(--btn-bg, var(--blue));
    transform: translate(5px, 5px);
    transition: var(--transition-2);
}

.btn:is(:hover, :focus)::after {
    transform: translate(0, 0);
}

.btn-secondary { --btn-bg: var(--black);}

.btn-secondary:is(:hover, :focus) { --btn-bg: var(--blue);}

.btn-outline {
    border: 2px solid var(--white);
    background-color: transparent;
}

.btn-white {
    --btn-bg: var(--platinum);
    color: var(--black);
}

.section {
    padding-block: var(--section-padding);
}

.w-100 { 
    width: 100%;
}

.section-text {
    line-height: 2;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*header*/
.lang-switch, .header-action {
    display: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding-block: 18px;
    z-index: 4;
}

.header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 140px);
    height: 1px;
    background-color: var(--white_10);
}

.header.active {
    background-color: var(--eerie-black-1);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.8);
}

.header.active::after {
    display: none;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.logo {
    color: var(--white);
    font-family: var(--ff-oswald);
    font-size: 3.2rem;
}

.nav-open-btn {
    color: var(--white);
    font-size: 3.8rem;
    
}

.navbar {
    position: fixed;
    background-color: var(--eerie-black-1);
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 1px solid var(--white_10);
    display: flex;
    flex-direction: column;
    z-index: 1;
    visibility: hidden;
    transform: 0.25s var(--cubic-in);
}

.navbar.active {
    transform: translateY(-100%);
    visibility: visible;
    transition: 0.5s var(--cubic-out);
}

.nav-close-btn {
    color: var(--white);
    font-size: 2.4rem;
    position: absolute;
    top: 15px;
    right: 15px;
}

.nav-close-btn ion-icon {  --ionicon-stroke-width: 60px; }

.navbar > .logo {
    font-size: 4rem;
    width: max-content;
    margin-inline: auto;
    margin-block-start: 50px;
}

.navbar-list {
    max-width: 400px;
    width: 100%;
    margin: auto;
    padding-inline: 10px;
    opacity: 0;
    transition: 0.5s ease;
    transition-delay: 0s;
}

.navbar.active .navbar-list {
    opacity: 1;
    transition-delay: 0.25s;
}

.navbar-link {
    color: var(--white);
    font-size: var(--fs-9);
    font-weight: var(--fe-500);
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px 15px;
    padding-block: 8px;
    transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) { 
    background-color: var(--blue);
}
 /*hero*/
.hero {
    background-color: var(--eerie-black-1);
    color: var(--white);
    min-height: 700px;
    padding-block: 120px 60px;
    display: grid;
    align-items: center;
}

.hero .section-subtitle {
    --color: var(--white);
    --ff: var(--ff-inter);
    --fs: var(--fs-7);
}

.hero-title {
    font-size: var(--fs-2);
    margin-block: 30px;
    line-height: 1.2;
}

.hero-text {
    font-family: var(--ff-inter);
    font-size: var(--fs-8);
    letter-spacing: -1px;
    max-width: 50ch;
    margin-block-end: 30px;
}

/*features*/
.features {
    padding-block-start: 0;
    background-color: var(--eerie-black-1);
}

.features-list {
    display: grid;
    gap: 30px;
}

.features-item {
    display: flex;
    align-items: flex-start;
    gap: 25px;
}

.features-item .item-icon {
    color: var(--blue);
    font-size: 5.5rem;
    margin-block-start: 10px;
}

.features-item .item-icon ion-icon { 
    --ionicon-stroke-width: 25px;
}

.features-item .item-title {
    margin-block-end: 10px;
}

.features-item .item-text {
    max-width: 25ch;
    color: var(--white_50);
    font-size: var(--fs-11);
    text-shadow: -1px 0 rgb(29, 29, 31);
}


/*about*/

.about {
    padding-block-start: 120px;
}

.about-banner {
    position: relative;
    max-width: max-content;
    margin-block-end: 30px;
}

.deco-title {
    font-size: var(--fs-1);
    font-weight: var(--fw-700);
    white-space: nowrap;
    line-height: 0.5;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--light-gray);
    transform-origin: top left;
    transform: rotate(0.25turn);
    position: absolute;
    top: 55%;
    left: 100%;
    z-index: -1;
}

.deco-img {
    position: absolute;
    top: -40px;
    left: 0;
    z-index: -1;
}

.about-img {
    max-width: max-content;
    margin-block-end: 30px;
}

.about .section-subtitle {
    margin-block-end: 10px;

}

.tab-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-block: 25px 35px;
}

.tab-btn {
    background-color: var(--platinum);
    color: var(--granite-gray);
    font-size: var(--fs-8);
    font-weight: var(--fw-500);
    padding: 10px 32px;
}

.tab-btn.active {
    background-color: var(--blue);
    color: var(--white);
}


.tab-list {
    margin-block: 25px 50px;
}

.tab-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block: 5px;
}

.tab-item .item-icon {
    font-size: 3rem;
    color: var(--blue);
}

.tab-text {
    color: var(--eerie-black-2);
    font-size: var(--fs-8);
    font-weight: var(--fw-500);
}

/*cta*/

.cta-content {
    background-color: var(--blue);
    text-align: center;
    padding: 50px 15px;
    margin-block-end: 30px;
}

.cta .section-title {
    color: var(--white);
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
    line-height: 1.2;
    margin-block-end: 25px;
}

.cta .btn-outline {
    margin-inline: auto;
}

.cta-banner {
    background-color: var(--light-gray);
}

/*service*/

.service {
    background-color: var(--baby-powder);
    background-repeat: no-repeat;
    background-position: center top;
    margin-block-start: -200px;
    padding-block-start: 200px;
}

.service .section-title {
    margin-block: 10px 40px;
}

.service-list {
    display: grid;
    gap: 30px;
}

.service-card {
    background-color: var(--white);
    text-align: center;
    padding: 45px 40px;
    border-radius: 2px;
    outline: 3px solid transparent;
    box-shadow: var(--card-shadow);
    transition: var(--transition-2);

}

.service-card:is(:hover, :focus-within) {
    outline-color: var(--blue);
}

.service-card .card-icon {
    color: var(--blue);
    font-size: 7rem;
    max-width: max-content;
    margin-inline: auto;
}

.service-card .card-icon ion-icon {
    --ionicon-stroke-width: 20px;
}

.service-card .card-title {
    letter-spacing: -1px;
    margin-block: 10px;
}

.service-card .card-text {
    font-family: var(--ff-inter);
}

.btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--silver-chalice);
    font-size: var(--fs-8);
    font-weight: var(--fw-600);
    margin-block-start: 15px;
}

.btn-link -span {
    text-decoration: underline;
}

/*testimonials*/

.testi {
    background-color: var(--jet);
}

.testi-content {
    padding: var(--section-padding) 15px;
}

.testi .section-title {
    color: var(--white);
    margin-block: 10px 40px;
}

.testi-card {
    color: var(--white);
}

.testi-text, .testi-name {
    font-size: var(--fs-8);
}

.testi-text .testi-title {
    font-family: var(--ff-inter);
}

.testi-text {
    padding-block-end: 30px;
    border-block-end: 1px solid var(--white_10);
    margin-block: 20px 30px;
}

.testi-title {
    color: var(--white_50);
    font-size: var(--fs-10);
}
    

.testi-banner {
    background-color: var(--light-gray);
}
/*partner/parceiros*/

.partner { 
    background-color: var(--baby-powder);
}

.partner .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.partner-logo .color, 
.partner-logo:is(:hover, :focus) .gray { display: none; }

.partner-logo:is(:hover, :focus) .color, .partner-logo, .gray { display: block; }

/*event/eventos*/

.event { 
    padding-block-end: 120px;
}

.event .section-subtitle {
    justify-content: center;
}

.event .section-title {
    text-align: center;
    margin-block: 15px 50px;
}

.event-list {
    display: grid;
    gap: 30px;
    margin-block-end: 70px;
}

.event-card {
    border: 1px solid var(--platinum);
    padding: 40px 30px;
    border-radius: 2px;
    outline: 3px solid transparent;
    transition: var(--transition-2);
}

.event-card:is(:hover, :focus-within) {
    outline-color: var(--blue);
}

.event-card .card-time {
    background-color: var(--blue);
    color: var(--white);
    font-weight: var(--fw-600);
    line-height: 1.3;
    max-width: max-content;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 10px 15px var(--blue_50);
}
.event-card .card-time .month {
    font-size: 2.1rem;
}

.event-card .card-time .date {
    font-size: var(--fs-4);
}

.event-card .card-subtitle {
    margin-block: 30px 5px;
    color: var(--blue);
    font-size: var(--fs-8);
    font-weight: var(--fw-600);
    letter-spacing: -1px;
}

.event-card .card-title {
    color: var(--eerie-black-2);
    letter-spacing: -1px;
}

.event-card .card-text {
    font-family: var(--ff-inter);
    margin-block: 5px 30px;
}

.event .btn-secondary {
    margin-inline: auto;
}

/*Instagram*/

.img-insta {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.insta-post-link {
    position: relative;
    background-color: var(--eerie-black-1);
    overflow: hidden;
}

.insta-post-link > img {
    transition: var(--transition-2);
}

.insta-post-link:is(:hover, :focus) > img {
    transform: scale(1.1);
    opacity: 0.5;
}

.insta-post-link > ion-icon {
    color: var(--white);
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: var(--transition-2);
}

.insta-post-link:is(:hover, :focus) > ion-icon { 
    opacity: 1;
}

/*rolar para a lateral - shift + rolagem do mouse para passar ao lado*/
.insta-post-list {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
}

.insta-post-list::-webkit-scrollbar {
    display: none;
}

.insta-post-item{
    min-width: 100%;
    scroll-snap-align: center;
}

/*footer*/
.footer  {
    background-color: var(--raisin-black);
    color: var(--white);
    font-family: var(--ff-inter);
    padding-block: 40px;
}

.footer .container{
    margin-inline: 15px;
    background-color: var(--eerie-black-3);
    padding: 20px;
}

.footer-list .copyright-link {
    max-width: max-content;
    margin-inline: auto;
}

.footer-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px 40px;
    margin-block-end: 15px;
}

.footer-link, .copyright-link {
    color: var(--white_50);
    text-decoration: underline;
    transition: var(--transition-1);
}

.footer-link {
    color: var(--white_50);
}

    :is(.footer-link, .copyright-link):is(:hover, :focus) {
    background-color: hsla(0, 0%, 100%, 0.5);
}

.copyright {
    text-align: center;
}

.copyright-link {
    display: inline-block;
}