:root {

    /*colors*/
    --bright-yellow-crayola: hsl(40, 100%, 50%);
    --medium-turquoise: hsl(214, 72%, 28%);
    --silver-chalice: hsl(0, 0%, 70%);
    --eerie-black-1: hsl(0, 0%, 13%);
    --eerie-black-2: hsl(0, 0%, 15%);
    --eerie-black-3: hsl(228, 10%, 10%);
    --raisin-black: hsl(220, 8%, 14%);
    --granite-gray: hsl(0, 0%, 38%);
    --sonic-silver: hsl(0, 0%, 47%);
    --blue_50: hsla(224, 69%, 25%, 0.5);
    --baby-powder: hsl(86, 41%, 97%);
    --light-gray: hsl(0, 0%, 80%);
    --blue: hsl(216, 46%, 34%);
    --platinum: hsl(0, 0%, 91%);
    --cultured: hsl(0, 0%, 94%);
    --white-60: hsla(0, 0%, 100%, 0.6);
    --white_50: hsla(0, 0%, 100%, 0.5);
    --white_10: hsla(0, 0%, 100%, 0.1);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --jet: hsl(0, 0%, 18%);

    /*fonts*/
    --ff-oswald: 'Oswald', sans-serif;
    --ff-inter: 'Inter', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;

    /*size*/
    --fs-1: 13rem;
    --fs-2: 4rem;
    --fs-3: 3.5rem;
    --fs-4: 3rem;
    --fs-5: 2.4rem;
    --fs-6: 2.2rem;
    --fs-7: 2rem;
    --fs-8: 1.8rem;
    --fs-9: 1.5rem;
    --fs-10: 1.4rem;
    --fs-11: 10px;

    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /*Spacing*/
    --section-padding: 80px;

    /*Shadow*/
    --card-shadow: 0 5px 20px -8px hsla(0, 0%, 0%, 0.15);

    /*transition*/
    --transition-1: 0.05s ease;
    --transition-2: 0.25s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}